@use "../variables" as *;

calendar {
  background: none;
  border: none;
  color: $fg-color;

  > :first-child {
    border: none;
  }

  > :last-child {
    label {
      color: $fg-color;
      outline: none;
      background: none;
      box-shadow: none;
      font-weight: normal;
      border: none;
    }

    label.day-name {
      font-weight: bolder;
    }

    label.day-number.other-month {
      color: $fg-inactive-color;
    }

    label.day-number.today {
      font-weight: bolder;
    }
  }
}

.widget-datetime {
  popover {
    .time-title {
      font-size: 2rem;
      font-weight: bold;
      font-family: "SF Mono", sans-serif;
      color: $fg-color;
    }

    > contents {
      padding: 16px;
    }
  }
}